<div class="flex flex-col max-w-4xl">
  <% @products.each do |product| %>
      <div class="flex flex-row border rounded lg:mb-2">
        <%= image_tag("http://via.placeholder.com/512", class: "h-4xl lg:w-48 w-28") %>
        <div class="w-44 m-auto">
        <h3 class="w-48 font-sans font-bold text-lg p-1"><%= product.name %></h2>
        <span class="bg-lime-600 rounded text-sm text-white p-1"><%= product.status %></span>
        <h3 class="font-sans text-lg p-1">$ <%= product.unit_price %></h3>
        </div>
        <div class="flex flex-col items-center m-auto bg-black w-32 h-11 rounded">
        <%= link_to shopping_cart_path(product) do %>
          <span class="font-sans text-sm text-white m-auto"> Add to cart </span>
        <% end %>
        </div>
      </div>
  <% end %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>